@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    /* width: 100%; */
    /*height: 100%;*/
    /* background-color: #152733; */
    background-image: url('background_photo.jpg');
    background-position: center;
    background-size: cover;
    /* overflow: hidden; */
}
.errorlist{
    color: red;
}

/* start modal css */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 20px;
    left: 0;
    top: 0;
    bottom: 10px;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgb(0,0,0);
    /* background-color: rgba(0,0,0,0.4); */
    overflow-y: scroll;
    transform: translateY(0);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    color: #000;
    margin: auto;
    margin-bottom: 40px;;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/* end modal css */

/* table css */
table, th, td {
    padding: 10px;
    border:1px solid black !important;
    border-collapse: collapse !important;
    text-align: center !important;
}
th{
    font-weight: bold !important;
}

.table_class {
    width:40%;
    margin-left: 30%;
}

.table1{
    padding: 10px;
    background-color: white;
}

.table2{
    display:none;
    padding: 10px;
    background-color: white;
}
.w-10{
    /* width: 30%; */
}
.w-100{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .table_class {
        width:100%;
        margin-left: 0;
    }
}
@media only screen and (max-width: 1028px) {
    .table1{
        display: none;
    }    
    .table2 {
        display:block;
        text-align: center !important;
    }
}
/* end table css */


.mt-3{
    margin-top: 3px;
}
/* alert start */
.alert {
    padding: 20px;
    background-color: #04aa6d;
    color: white;
    margin-bottom: 25px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  /* alert end */

.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    /* width: 100%; */
    /* min-width: 540px; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary{
    cursor: pointer;
    background-color: #ffffff;
    outline: none;
    border: 0px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #1dacfd;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
    margin-top: 40px;
   color: #2acc80;
}