<div class="col-md-4">
                                <div class="valid-feedback">Viloyat tanlang!</div>
                                <select class="form-select mt-3" name="viloyat" required>
                                    <option selected disabled value="">Viloyat</option>
                                    {% for vil in viloyat %}
                                    <option value="{{vil.pk}}">{{vil.title}}</option>
                                    {% endfor %}
                                </select>
                                <!-- <div class="valid-feedback">Viloyat tanlandi!</div> -->
                                <!-- <div class="invalid-feedback">Iltimos viloyatni tanlang!</div> -->
                            </div>
                            <div class="col-md-4">
                                <div class="valid-feedback">Tumanni tanlang!</div>
                                <select class="form-select mt-3" name="tuman" required>
                                    <option selected disabled value="">Tuman</option>
                                    {% for tum in tuman %}
                                    <option value="{{tum.pk}}">{{tum.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div class="valid-feedback">Maktabni tanlang!</div>
                                <select class="form-select mt-3" name="maktab" required>
                                    <option selected disabled value="">Maktab</option>
                                    {% for mak in maktab %}
                                    <option value="{{mak.pk}}">{{mak.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div class="valid-feedback">Sinfni tanlang!</div>
                                <select class="form-select mt-3" name="sinf" required>
                                    <option selected disabled value="">Sinf</option>
                                    <option value="11-sinf">11-sinf</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div class="valid-feedback">Kerakli fanni tanlang!</div>
                                <select class="form-select mt-3" name="fan" required>
                                    <option selected disabled value="">Fan</option>
                                    {% for fan in fanlar %}
                                    <option value="{{fan.pk}}">{{fan.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div class="valid-feedback">FIO kiriting!</div>
                                <input class="form-control" type="text" name="fio" placeholder="FIO" required>
                            </div>
                            <div class="col-md-4">
                                <div class="valid-feedback">Passport seriya va raqamini kiriting!</div>
                                <input class="form-control" type="text" name="passport"
                                    placeholder="Passport yoki tug'ilganlik haqida guvohnoma" required>
                            </div>