{% load static %}
{% load widget_tweaks %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Turan International University</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico'%}">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{% static 'css.css' %}" rel="stylesheet">
</head>

<body>
    <div class="form-body" style="background: rgba(0,0,0,0.7); ">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                      {% if vil.first %}
                        <h3>Turan International University</h3>
                        <p>Kerakli bo'limlarni to'ldirib ro'yxatdan o'ting va olimpiada ishtirokchisiga aylaning.</p>
                        <p>Olimpiada 01.04.2023 kuni soat 09:00 da boshlanadi. Manzil: Namangan shaxri, Mamarasulov ko'chasi, 10-d uy.</p>
                        <p>Qo'shimcha ma'lumot uchun tel: +998 88 427 00 55, +998 99 921 00 55</p>
                        
                          {% if messages %}
                            {% for message in messages %}
                            <div class="alert">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                <strong>{{message}}</strong>
                            </div>
                            {% endfor %}
                          {% endif %}
                          
                          {% if success__ok == True %}
                            <form class="requires-validation" novalidate action="." method="post" id="registerForm" data-maktab-url="{% url 'mainapp:ajax_load_maktab' %}">
                              {% csrf_token %}
                              {{register_form.as_p}}
                              <div style="color: white;">
                                <a id="myBtn" class="btn btn-primary" style="color: black; padding: 5px;">Offerta</a> <span>shartlari bilan tanishib chiqing.</span>
                              </div>
                              
                              <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary" style="cursor: not-allowed; margin-top: 20px;" disabled>Ro'yxatdan o'tish</button>
                              </div>
                            </form>
                            {% else %}
                              <a href="{% url 'mainapp:index' %}" class="btn btn-primary" style="color: black; margin-top: 10px;">Ortga</a>
                          {% endif %}

                          <div id="myModal" class="modal">
                            <div class="modal-content" id="offer">
                              <span class="close">&times;</span>
                                {% include 'nizom.html' %}
                                <div style="margin-top: 20px;">
                                  <input type="checkbox" id="offerid" name="offerid">
                                  <label for="offerid" style="color: #1b00ff"> Offerta bilan tanishib chiqdim va offerta shartlariga roziman.</label>
                                </div>
                              </div>
                          </div>
                        {% else %}
                        <h3>Turan International University</h3>
                        <p>Olimpiada 01.04.2023 kuni soat 09:00 da boshlanadi. Manzil: Namangan shaxri, Mamarasulov ko'chasi, 10-d uy.</p>
                        <p>Qo'shimcha ma'lumot uchun tel: +998 88 427 00 55, +998 99 921 00 55</p>
                          <div class="alert">
                            <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> -->
                            <strong>Qabul jarayonli yakunlandi.</strong>
                          </div>
                        {% endif %}


                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

<script src="{% static 'jquery-3.3.1.min.js' %}"></script>

<script>
  var modal = document.getElementById("myModal");
  var btn = document.getElementById("myBtn");
  var span = document.getElementsByClassName("close")[0];

  btn.onclick = function() {
    modal.style.display = "block";
  }

  span.onclick = function() {
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  //  Offerta
  var offer = document.getElementById("offerid");
  var sub = document.getElementById('submit');

  offer.onclick = function() {
    if (sub.disabled == true) 
    {
      sub.disabled = false;
      sub.style.cursor = 'pointer';
    }
    else 
    {
      sub.disabled = true;
      sub.style.cursor = 'not-allowed';
    }
  }

  window.addEventListener('scroll', function() {
      var offerHeight = document.getElementById('offer').offsetHeight;
      var scrolledHeight = window.innerHeight + window.scrollY;
      if (scrolledHeight <= offerHeight) {
          
          console.log(offerHeight);
          console.log('Oxirigacha o\'qidi');
          console.log(scrolledHeight);
      }
  });
</script>

<script>
    $("#id_tuman").change(function () {
      var url = $("#registerForm").attr("data-maktab-url");
      var tumanId = $(this).val();
      $.ajax({
        url: url,
        data: { 'tuman': tumanId },
        success: function (data) {
          $("#id_maktab").html(data);
        }
      });
    });
    $("#id_viloyat").change(function () {
      var url = $("#registerForm").attr("data-maktab-url");
      var viloyatId = $(this).val(); 
      $.ajax({
        url: url,
        data: {
          'viloyat': viloyatId
        },
        success: function (data) {
          $("#id_tuman").html(data);
        }
      });
 
    });
  </script>

</html>