{% load static %}
{% load widget_tweaks %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Turan International University</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico'%}">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{% static 'css.css' %}" rel="stylesheet">
</head>

<body>
    <div class="form-body" style="background: rgba(0,0,0,0.7); ">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items" >
                    <h3>Turan International University</h3>
                    {% if messages %}
                    {% for message in messages %}
                    <p>Qo'shimcha ma'lumot uchun tel: +998 88 427 00 55, +998 99 921 00 55</p>
                    <div class="alert">
                        <strong>{{message}}</strong>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>Namangan viloyat XTB bilan hamkorlikda 01.04.2023 kuni o'tkazilgan olimpiada natijasi.</p>
                    <p>Qo'shimcha ma'lumot uchun tel: +998 88 427 00 55, +998 99 921 00 55</p>
                        <table class="table1">
                            <thead>
                                <tr>
                                    <td>T/R</td>
                                    <td>FIO</td>
                                    <td>Fan</td>
                                    <td>Ball</td>
                                    <td>O'rin</td>
                                    <td>Berilgan vaqti</td>
                                    <td>Diplom</td>
                                    <td>Diplom seriyasi</td>
                                    {% if natija.sertificate %}
                                    <td>Sertifikat</td>
                                    <td>Sertifikat seriyasi</td>
                                    {%endif%}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>{{natija.fio}}</td>
                                    <td>{{natija.fan}}</td>
                                    <td>{{natija.ball}}</td>
                                    <td>{{natija.urni}}</td>
                                    <td>{{natija.berilgan_vaqt|date:"d.m.Y"}}</td>
                                    <td><a href="{{natija.diplom.url}}" target="_blank"><img src="{{natija.diplom.url}}" alt="{{natija.fio}}" width="100px"></a></td>
                                    <td>{{natija.diplom_seriyasi}}</td>
                                    {% if natija.sertificate %}
                                        <td><a href="{{natija.sertificate.url}}" target="_blank"><img src="{{natija.sertificate.url}}" alt="{{natija.fio}}" width="100px"></a></td>
                                        <td>{{natija.sertifikat_seriyasi}}</td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                        
                        <table class="table2">
                            <tbody>
                                <tr>
                                    <td class="w-10">FIO</td><td class="w-100">{{natija.fio}}</td>
                                </tr>
                                <tr>
                                    <td class="w-10">Fan</td><td class="w-100">{{natija.fan}}</td>
                                </tr>
                                <tr>
                                    <td class="w-10">Ball</td><td class="w-100">{{natija.ball}}</td>
                                </tr>
                                <tr>
                                    <td class="w-10">O'rin</td><td class="w-100">{{natija.urni}}</td>
                                </tr>
                                <tr>
                                    <td class="w-10">Berilgan vaqti</td><td class="w-100">{{natija.berilgan_vaqt|date:"d.m.Y"}}</td>
                                </tr>
                                <tr>
                                    <td class="w-10">Diplom</td><td class="w-100"><a href="{{natija.diplom.url}}" target="_blank"><img src="{{natija.diplom.url}}" alt="{{natija.fio}}" width="100px"></a></td>
                                </tr>
                                <tr>
                                    <td class="w-10">Diplom seriyasi</td><td class="w-100">{{natija.diplom_seriyasi}}</td>
                                </tr>
                                {% if natija.sertificate %}
                                <tr>
                                    <td class="w-10">Sertifikat</td><td class="w-100"><a href="{{natija.sertificate.url}}" target="_blank"><img src="{{natija.sertificate.url}}" alt="{{natija.fio}}" width="100px"></a></td>
                                </tr>
                                <tr>
                                    <td class="w-10">Sertifikat seriyasi</td><td class="w-100">{{natija.sertifikat_seriyasi}}</td>
                                </tr>
                                {%endif%}
                            </tbody>
                        </table>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="{% static 'jquery-3.3.1.min.js' %}"></script>

</html>