{% load static %}
{% load widget_tweaks %}

<div style="text-align: justify;">
<div style="text-align: center; font-size: large; font-weight: bold;">Davlat va nodavlat umumiy o‘rta ta’lim tashkilotlari, akademik litsey va kasb-hunar maktablari o‘quvchilari o‘rtasida fan olimpiadalarini tashkil etish, o‘tkazish va g‘oliblarni rag‘batlantirish tartibi to‘g‘risida</div>
<div style="text-align: center; font-size: xx-large; font-weight: bold; padding-bottom: 5px;">NIZOM</div>
O‘zbekiston Respublikasi Prezidentining “Iqtidorli yoshlarni aniqlash va yuqori malakali kadrlar tayyorlashning uzluksiz tizimini tashkil etish chora-tadbirlari to‘g‘risida” 2019-yil 3-maydagi PQ-4306-son qarori, “Ta’lim-tarbiya tizimini yanada takomillashtirishga oid qo‘shimcha chora-tadbirlar to‘g‘risida” 2020-yil 6-noyabrdagi PQ-4884-son qarori ijrosini ta’minlash maqsadida Turan International University tomonidan davlat va nodavlat umumiy o‘rta ta’lim tashkilotlari, akademik litsey va kasb-hunar maktablari bitiruvchilari o‘rtasida umumta’lim fanlari bo‘yicha olimpiadalarni tashkil etish belgilangan.

<div style="text-align: center; font-size: large; font-weight: bold; padding-top: 10px; padding-bottom: 5px;">1-bob Umumiy qoidalar</div>
1. Mazkur Nizom O‘zbekiston Respublikasi Prezidentining “Iqtidorli yoshlarni aniqlash va yuqori malakali kadrlar tayyorlashning uzluksiz tizimini tashkil etish chora-tadbirlari to‘g‘risida” 2019-yil 3-maydagi PQ-4306-son qarori, “Ta’lim-tarbiya tizimini yanada takomillashtirishga oid qo‘shimcha chora-tadbirlar to‘g‘risida” 2020-yil 6-noyabrdagi PQ-4884-son qarori ijrosini ta’minlash maqsadida Turan International University(keyingi o‘rinlarda — Universitet) davlat va nodavlat umumiy o‘rta ta’lim tashkilotlari, akademik litsey va kasb-hunar maktablari (keyingi o‘rinlarda — maktablar) o‘quvchilari o‘rtasida umumta’lim fanlari bo‘yicha olimpiadalarni tashkil etish, o‘tkazish hamda olimpiada g‘oliblarini rag‘batlantirish tartibini belgilaydi. <br>
2. Fan olimpiadalari yagona ilmiy-uslubiy yondashuv asosida adolatlilik, ochiqlik va shaffoflik tamoyillari asosida o‘tkaziladi. <br>
3. Olimpiadalar uchun test topshiriqlari(keyingi o‘rinlarda — nazorat materiallari) tayyorlash Universitet tomonidan muvofiqlashtiriladi. <br>
4. Olimpiadalar nazorat materiallari o‘quvchilarning bilim, ko‘nikmalarini standart va nostandart masalalarda va kompetensiyalarini baholashga qaratiladi. <br>
5. O‘quvchilar olimpiadalarda o‘z xohishlariga ko‘ra, ixtiyoriy ravishda qatnashadilar.

<div style="text-align: center; font-size: large; font-weight: bold; padding-top: 10px; padding-bottom: 5px;">2-bob. Olimpiadalarni tashkil etish tartibi</div>
6. Olimpiadalarning tegishli bosqichini o‘tkazish bo‘yicha kompleks chora-tadbirlarni bajarish uchun Universitet rektori buyruqlari bilan tashkiliy qo‘mitalar, hakamlar hay’atlari, apellatsiya komissiyalari tashkil etadilar.
<div style="text-align: center; font-size: large; font-weight: bold; padding-top: 10px; padding-bottom: 5px;">1-§. Tashkiliy qo‘mita</div>
7. Olimpiadalarni tashkil etish uchun Universitetda olimpiadalarni o‘tkazish bo‘yicha tashkiliy qo‘mita tuziladi. <br>
8. Quyidagilar tashkiliy qo‘mitaning vazifalari hisoblanadi:
<ul>
    <li>olimpiada o‘tkaziladigan joyni belgilash va tasdiqlash;</li>
    <li>hakamlar hay’ati tarkibi, apellatsiya komissiyasi a’zolari, auditoriya rahbarlari ro‘yxatini shakllantirish;</li>
    <li>olimpiada nazorat materiallarining maxfiyligini, olimpiadani mazkur Nizom talablari asosida o‘tkazilishini ta’minlash;</li>
    <li>olimpiadaning tashkil etilishi, o‘tkazilishi va natijalarini Universitet ijtimoiy tarmoqlarida yoritib borish;</li> 
    <li>barcha olimpiada ishtirokchilari haqidagi ma’lumotlarni axborot tizimiga kiritilishini muvofiqlashtirish;</li>
</ul>
9. Tashkiliy qo‘mita tarkibiga Universitet professor-o’qituvchilari va mas’ul xodimlari kiritilishi mumkin. 
<div style="text-align: center; font-size: large; font-weight: bold; padding-top: 10px; padding-bottom: 5px;">2-§. Hakamlar hay’ati</div>

10. Olimpiadalarning barcha bosqichlarida tashkiliy qo‘mita tomonidan 3 kishidan 7 kishigacha tarkibda hakamlar hay’ati tuziladi. <br>
11. Hakamlar hay’ati:
<ul>
    <li>olimpiada jarayonida beriladigan nazorat materiallarini ekspertizadan o‘tkazadi;</li>
    <li>olimpiada ishtirokchilari tomonidan bajarilgan ishlarni Universitet tomonidan tasdiqlangan baholash mezonlari asosida xolisona tekshiradi, baholaydi va g‘oliblarni aniqlaydi;</li>
    <li>natijalarni olimpiada o‘tkazilgan kuni e’lon qiladi;</li>
    <li>o‘tkazilgan olimpiada natijalari bo‘yicha qaror qabul qiladi va uni tashkiliy qo‘mitaga taqdim etadi.</li>
</ul>
12. Hakamlar hay’ati tarkibiga maktablar, nodavlat ta’lim tashkilotlari, oliy ta’lim va ilmiy-tadqiqot institutlarining yuqori malakali mutaxassislari jalb qilinadi. Har bir fan bo‘yicha tuzilgan hakamlar hay’ati a’zolari ochiq ovoz berish yo‘li bilan hay’at raisini saylaydilar. <br>
13. Hakamlar hay’ati a’zolari olimpiada g‘oliblarini xolisona aniqlashda va nazorat materiallarining maxfiyligini ta’minlashda shaxsan javobgar hisoblanadi.
<div style="text-align: center; font-size: large; font-weight: bold; padding-top: 10px; padding-bottom: 5px;">3-§. Auditoriya rahbari va nazoratchilar</div>

14. Tashkiliy qo‘mita tomonidan olimpiada boshlanishidan oldin professor-o‘qituvchilari orasidan xonalarga auditoriya nazoratchilari tayinlanadi. 
Professor-o‘qituvchi o‘z mutaxassislik yo‘nalishida olimpiada o‘tkazilayotgan auditoriyaga rahbar yoki nazoratchi etib tayinlanishiga yo‘l qo‘yilmaydi. <br>
15. Auditoriya nazoratchisi:
<ul>
    <li>ishtirokchilarga olimpiadaning tartib-qoidalari to‘g‘risida qisqacha tushuntiradi;</li>
    <li>olimpiada boshlanishi va tugash vaqtini e’lon qiladi hamda olimpiada jarayonini nazorat qiladi;</li>
    <li>fan olimpiadasi jarayonida o‘rnatilgan tartib-qoidalarga amal qilmagan o‘quvchilarni olimpiadadan dalolatnoma tuzib chetlashtiradi;</li>
    <li>ishtirokchilarning bajargan ishlarini shifrlab, tekshirish uchun hakamlar hay’atiga topshiradi;</li>
    <li>li>hakamlar hay’ati tomonidan tekshirilgan ishlarni shifr bo‘yicha ro‘yxatini tuzadi va tashkiliy qo‘mitaga taqdim etadi.</li>
</ul>
16. Auditoriya nazoratchilari olimpiada o‘tkazilayotgan va o‘zlari biriktirilgan auditoriyada tartib saqlanishini ta’minlaydilar.  <br>
17. Olimpiada o‘tkaziladigan auditoriyalar videokuzatuv kameralari bilan jihozlanadi. Auditoriyada telefon va turli aloqa vositalaridan foydalanish taqiqlanadi. Kimyo va fizika fanlarida kalkulyatordan hamda matematika fanida sirkul va chizg‘ichdan foydalanishga ruxsat etiladi.
Ommaviy axborot vositalari vakillariga olimpiada jarayoniga xalaqit qilmagan holda kuzatishlariga ruxsat beriladi.  <br>
18. Olimpiada o‘tkazilayotgan jarayonda ishtirokchilarning o‘zaro gaplashishi, aloqa vositalari va turli xil qo‘shimcha manbalardan foydalanishi taqiqlanadi.
Bunday holatlar uchun ishtirokchi olimpiadadan chetlashtiriladi, bajargan ishlari tekshirilmaydi va baholanmaydi.
<div style="text-align: center; font-size: large; font-weight: bold; padding-top: 10px; padding-bottom: 5px;">4-§. Apellatsiya komissiyasi</div>

19. Apellatsiya komissiyasi hakamlar hay’ati tarkibiga kirmagan uch nafargacha fan mutaxassislaridan iborat tarkibda tuziladi. <br>
20. Apellatsiya komissiyasi tomonidan olimpiada ishtirokchilarining arizalari olimpiada natijalari e’lon qilingan kunning o‘zida qabul qilinadi. Apellatsiya jarayonida hakamlar hay’ati a’zolari, ishtirokchi va uning fan o‘qituvchisi ishtirok etishi mumkin.  <br>
21. Apellatsiyaga olimpiadalar ishtirokchilarining faqatgina o‘zlari tomonidan bajarilgan ishlarini qayta ko‘rib chiqish bo‘yicha natija e’lon qilingandan so‘ng shu kunning o‘zida arizalar qabul qilinadi.  <br>
22. Hakamlar hay’ati tomonidan baholangan ishtirokchining bajargan ishida baholash mezonlariga mos kelmaslik holatlari aniqlanganda apellatsiya komissiyasi hakamlar hay’ati qarorini bekor qilish yoki ularga o‘zgartirishlar kiritish huquqiga ega. <br>
23. Apellatsiya komissiyasi hakamlar hay’atiga apellatsiya natijalari bo‘yicha izoh berib, olimpiada natijalarini o‘zgartirishi mumkin va bunda hakamlar hay’ati qarori qayta tasdiqlanadi. 

<div style="text-align: center; font-size: large; font-weight: bold; padding-top: 10px; padding-bottom: 5px;">3-bob. Olimpiadalarni o‘tkazish tartibi</div>

24. Asosiy olimpiadalar ushbu Nizomga 1-ilovada keltirilgan fanlardan o‘tkaziladi. <br>
25. Barcha fanlardan nazorat turlari, shakllari, baholash mezonlari Universitet tomonidan tasdiqlanadi. <br>
26. Olimpiadalar maktablarning 11-sinf, akademik litseylar va kasb-hunar maktablarining bitiruvchilari o‘rtasida o‘tkaziladi. <br>
27. Olimpiadalar bir bosqichda mart-aprel oylarida Universitetda o‘tkaziladi. <br>
28. Olimpiadani tashkil etishda:
<ul>
    <li>ishtirokchilarini olimpiadalar bo‘lib o‘tadigan manzilga xavfsiz kelib-ketishlariga tegishli maktab direktorlari;</li>
    <li>nazorat materiallarining maxfiyligini ta’minlash, jarayonlarning shaffof, adolatli va barcha xavfsizlik choralarini ko‘rgan holda tashkil etilishiga — Universitet mas’ul hisoblanadi.</li>
</ul>

<div style="text-align: center; font-size: large; font-weight: bold; padding-top: 10px; padding-bottom: 5px;">4-bob. Olimpiada g‘oliblarini taqdirlash va rag‘batlantirish</div>

29. Olimpiadada g‘olib bo‘lgan har bir o‘quvchiga Universitetga imtihonsiz kirish huquqi va o’qish to’lovi uchun quyidagi miqdorda chegirmalar beriladi:
<ul>
    <li style="font-weight: bold;">1-o‘rin: Maksimal ballning kamida 85%ini jamg’argan taqdirda — 100%;</li>
    <li style="font-weight: bold;">2-o‘rin: Maksimal ballning kamida 80%ini jamg’argan taqdirda — 50%;</li>
    <li style="font-weight: bold;">3-o‘rin: Maksimal ballning kamida 75%ini jamg’argan taqdirda — 25%.</li>
</ul>
Chegirmaga ega bo’lgan o‘quvchilar talabalik davrida 4 bahodan past baho olmasliklari talab etiladi, aks holda qo‘llanilgan chegirma navbatdagi semestrdan bekor qilinadi. <br>
30. Olimpiadada 1, 2, 3-o‘rinlarni egallagan o‘quvchilarga Universitetga imtihonsiz kirish huquqini beruvchi va bir yil muddat davomida amal qiluvchi elektron sertifikatlar Universitet tomonidan beriladi va uning alohida elektron reyestri yuritiladi.

<div style="text-align: center; font-size: large; font-weight: bold; padding-top: 10px; padding-bottom: 5px;">5-bob. Yakunlovchi qoidalar</div>

31. Olimpiadalarda ishtirokchilarning olimpiada o‘tkaziladigan joyga kelib-ketishi, yo‘llarda harakatlanish xavfsizligini ta’minlash bo‘yicha barcha tashkiliy chora-tadbirlarni ko‘rish maktab direktori zimmasiga yuklatiladi. <br>
32. Olimpiada o‘tkaziladigan joyning sanitariya normalari, qoidalari va gigiyena normativlariga mosligi, o‘quvchilar sog‘ligi bilan bog‘liq masalalar Universitet Sog‘liqni saqlash departamenti tomonidan nazoratga olinadi.  <br>
33. Ushbu Nizom talablari buzilishida aybdor bo‘lgan shaxslar qonunchilik hujjatlarida belgilangan tartibda javobgarlikka tortiladi.


<div style="text-align: center; font-size: large; padding-top: 50px;">
Davlat va nodavlat umumiy o‘rta ta’lim tashkilotlari, akademik litsey va kasb-hunar maktablari o‘quvchilari o‘rtasida fan olimpiadalarini tashkil etish, o‘tkazish va g‘oliblarni rag‘batlantirish tartibi to‘g‘risida nizomga  <br>
1-ILOVA</div>
<div style="text-align: center; font-size: large; font-weight: bold;">Olimpiada o‘tkaziladigan fanlar</div>
<div style="text-align: center;">RO‘YXATI</div>

<table class="table_class">
    <thead>
        <th>T/r</th>
        <th>Fanlar</th>
    </thead>
    <body>
        <tr>
            <td>1</td>
            <td>Matematika</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Fizika</td> 
        </tr>
        <tr>
            <td>3</td>
            <td>Biologiya</td> 
        </tr>
        <tr>
            <td>4</td>
            <td>Informatika va axborot texnologiyalari</td> 
        </tr>
        <tr>
            <td>5</td>
            <td>Ona tili va adabiyot</td> 
        </tr>
        <tr>
            <td>6</td>
            <td>Rus tili va adabiyoti</td> 
        </tr>
        <tr>
            <td>7</td>
            <td>Ingliz tili</td> 
        </tr>
        <tr>
            <td>8</td>
            <td>Tarix</td> 
        </tr>
    </body>
</table>
</div>
