{% load static %}
{% load widget_tweaks %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Turan International University</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico'%}">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{% static 'css.css' %}" rel="stylesheet">
</head>

<body>
    <div class="form-body" style="background: rgba(0,0,0,0.7); ">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Turan International University</h3>
                        <p style="text-align: justify;">Университет «Turan International University» - официальный партнер акции «Тотальный диктант», <br>
                            приглашает всех студентов, старшеклассников, преподавателей,  жителей и гостей города <br>
                            8 апреля 2023 года (13-00)  написать диктант в рамках  акции "Тотальный диктант", <br>
                            а так же принять участие в тестировании TRUD (РКИ).</p>
                        <p>Победителей (лучшая оценка за диктант) ждут приятные поощрения.<br>
                            Адрес: город Наманган, улица Мамарасулова, дом 10-д.</p>
                        <p>Для получения дополнительной информации тел.: +998 88 427 00 55, +998 99 921 00 55</p>
                        
                        {% if vil %}
                          {% if messages %}
                            {% for message in messages %}
                            <div class="alert">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                <strong>{{message}}</strong>
                            </div>
                            {% endfor %}
                          {% endif %}
                          
                          {% if success__ok == True %}
                            <form class="requires-validation" novalidate action="." method="post" id="registerForm">
                              {% csrf_token %}
                              {{register_form.as_p}}
                              
                              <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary" style="margin-top: 20px;">Зарегистрироваться</button>
                              </div>
                            </form>
                            {% else %}
                              <a href="{% url 'mainapp:index' %}" class="btn btn-primary" style="color: black; margin-top: 10px;">Назад</a>
                          {% endif %}

                        {% else %}
                          <div class="alert">
                            <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> -->
                            <strong>Процесс приема завершен.</strong>
                          </div>
                        {% endif %}


                    </div>
                </div>

            </div>
        </div>
    </div>
</body>


</html>